/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* added below to help with sizing of the full page */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Lato;
}


/* Global styles */

/* Quiz page */



header {
    background-color:beige;
    padding: 0 1rem;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#quiz-page {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: orange;
    justify-content: center;
    align-items: center;
}

#quiz-area {
    display: flex;
    background-color: lightblue;
    width: 800px;
    max-width: 80%;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0 0 10px 2px;
    justify-content: center;
    align-items: center;
}

.guiz-page.correct {
    color: green;
}

.guiz-page.wrong {
    color: red;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    background-color: black;
    outline: none;
    border: 1px solid, yellow;
}

.btn:hover {
    border-color: red;
}

.start-btn, .next-btn {
    font-size: 2rem;
    font-weight: bold;
    padding: 10px 20px;
}

.nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}


/* to be removed */
.test-p {
    margin-top: 30px;
}