/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* added below to help with sizing of the full page */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Lato;
}


/* Global styles */

body {
    min-height: 100vh;
    display: flex;
}

header {
    display: flex;
    position: fixed;
    background-color: beige;
    color: rgb(49, 43, 43);
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    justify-content: space-between;
    align-items: baseline;
}   

header a {
    text-decoration: none;
    color: inherit;
    
}

header>h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

#menu {
    letter-spacing: 2px;
    font-size: 110%;
}

#menu>li {
    margin-bottom: .5em;
    list-style-type: none;
}

.active {
    border-bottom: 1px solid;
}

/* Navigation & toggles */

nav {
    position: absolute;
    background-color: beige;
    top: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    width: 100%;
    list-style-type: none;
    display: none;
}

#nav-mobile-toggle:checked~nav {
    display: block;
}

#nav-mobile-toggle {
    display: none;
}

.nav-mobile-toggle-label {
    font-size: 2rem;
}

main {
    margin-top: 35px;
}

/* Quiz page(s) layout */

#quiz-page {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: orange;
    justify-content: center;
    align-items: center;
}

#quiz-area {
    display: flex;
    background-color: lightblue;
    width: 800px;
    max-width: 80%;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0 0 10px 2px;
    justify-content: center;
    align-items: center;
}

.guiz-page.correct {
    color: green;
}

.guiz-page.wrong {
    color: red;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    background-color: black;
    outline: none;
    border: 1px solid, yellow;
}

.btn:hover {
    border-color: red;
}

.start-btn, .next-btn {
    font-size: 2rem;
    font-weight: bold;
    padding: 10px 20px;
}

.nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

/* Header */
nav {
    display: block;
    position: relative;
    box-shadow: none;
    width: fit-content;
}

#menu {
    display: flex;
}

#menu>li {
    padding-left: 1rem;
}

.nav-mobile-toggle-label {
    display: none;
}

}

/* Media query: tablets and larger (992px and up) */
@media screen and (min-width: 992px) {}

/* Media query: laptops and screens (1200px and up) */
@media screen and (min-width: 1200px) {}





/* to be removed */
.test-p {
    margin-top: 30px;
}